In [4]:
import pandas as pd

In [9]:
data = {
    "Name":['Ram','Shyam','Ravi','Dhanshyam','Shubam','Jagdish','Pravin','Nvain'],
    "Age":[10,20,30,40,50,60,42,21],
    "Salary":[50000,45000,60000,65070,30000,99000,56000,10000],
    "Performance Score":[90,91,80,60,88,96,78,83],
}
df = pd.DataFrame(data)

ADDING NEW COLUMN

In [ ]:
df["bonus"] = df["Salary"] * 0.1
print(df)

ADDING COLUMN USIN INSERT

In [ ]:
df.insert(loc=0,column="ID",value=[1,2,3,4,5,6,7,8])
print(df)