In [1]:
import pandas as pd

df_Region1= pd.DataFrame({
    "CustomerID":[1,2],
    "Name":["Gopal","Raju"]
})
df_Region2= pd.DataFrame({
    "CustomerID":[3,4],
    "Name":["Ravi","Chandan"]
})

CONCATENATE VERTICALLY

In [ ]:
df_concat = pd.concat([df_Region1,df_Region2])
print(df_concat)

CONCATENATE HORIZONTALLY

In [3]:
df_concat = pd.concat([df_Region1,df_Region2],axis=1)
print(df_concat)

   CustomerID   Name  CustomerID     Name
0           1  Gopal           3     Ravi
1           2   Raju           4  Chandan