In [3]:
import pandas as pd
data = {
    "CustomerID":[1,2,3,4,5,6,7,8],
    "Name":['Ram','Shyam','Ravi','Dhanshyam','Shubam','Jagdish','Pravin','Nvain'],
}
df_customers = pd.DataFrame(data)
datatwo = {
    "CustomerID":[1,2,10,4,5,6,7,8],
    "OrderAmount":[5000,199,395,2984,333,9348,2344,25959],
}
df_fraud = pd.DataFrame(datatwo)

INNER JOIN

In [ ]:
#removes all non matching values from both dataframes
df_merged = pd.merge(df_customers,df_fraud,on="CustomerID",how="inner")
print(df_merged)

OUTER JOIN

In [5]:
#files all non matching values from both dataframes with NaN
df_merged = pd.merge(df_customers,df_fraud,on="CustomerID",how="outer")
print(df_merged)

   CustomerID       Name  OrderAmount
0           1        Ram       5000.0
1           2      Shyam        199.0
2           3       Ravi          NaN
3           4  Dhanshyam       2984.0
4           5     Shubam        333.0
5           6    Jagdish       9348.0
6           7     Pravin       2344.0
7           8      Nvain      25959.0
8          10        NaN        395.0

LEFT JOIN

In [ ]:
df_merged = pd.merge(df_customers,df_fraud,on="CustomerID",how="left")
print(df_merged)

RIGHT JOIN

In [ ]:
df_merged = pd.merge(df_customers,df_fraud,on="CustomerID",how="right")
print(df_merged)