In [8]:
import pandas as pd
data = {
    "Name":['Ram','Shyam','Ravi','Dhanshyam','Shubam','Jagdish','Pravin','Nvain'],
    "Age":[42,21,30,40,10,10,55,55],
    "Salary":[50000,99000,56000,45000,60000,65070,30000,10000],
}
df = pd.DataFrame(data)

MEAN

In [ ]:
avg_salary = df['Salary'].mean()
print(avg_salary)

GROUP BY

In [ ]:
#add salary by age
grouped = df.groupby("Age")["Salary"].sum()
print(grouped)