In [16]:
import pandas as pd
data = {
    "Name":['Ram','Shyam','Ravi','Dhanshyam','Shubam','Jagdish','Pravin','Nvain'],
    "Age":[10,20,30,40,50,60,42,21],
    "Salary":[50000,45000,60000,65070,30000,99000,56000,10000],
    "Performance Score":[90,91,80,60,88,96,78,83],
}
df = pd.DataFrame(data)

UPDATING A SPECIFIC POSTION

In [ ]:
df.loc[0,'Salary']=55000
print(df)

UPDATING AN ENTIRE COLUMN

In [ ]:
#increasing salary by 5 %
df['Salary']=df['Salary'] * 1.05
print(df)

REMOVING COLUMNS

In [ ]:
df.drop(columns=["Performance Score"],inplace=True)
print(df)