In [2]:
import pandas as pd

In [3]:
data = {
    "Name":['Ram','Shyam','Ravi','Dhanshyam','Shubam','Jagdish','Pravin','Nvain'],
    "Age":[10,20,30,40,50,60,42,21],
    "Salary":[50000,45000,60000,65070,30000,99000,56000,10000],
    "Performance Score":[90,91,80,60,88,96,78,83],
}
df = pd.DataFrame(data)

SELECT A SINGLE COLUMN

In [ ]:
print(df["Name"])

SELECTING MULTIPLE COLUMNS

In [ ]:
subset = df[["Name","Age"]]
print(subset)